* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #FFF;
}

main{
    display: flex;
    justify-content: space-between;
}

.caixa-topo {
    border: solid 2px blueviolet;
}

.caixa-imagem {
    width: 30rem;
    display: flex;
    border: 5px solid red;
    justify-content:right;
    flex-direction: column;
}